<div class="content">
  <div class="body">
    <app-home-nav></app-home-nav>

    <div class="container">
      <div class="includings">
        <h1>Chicken</h1>
        <p>category</p>
      </div>
    </div>
  </div>
</div>

<div class="hold">
    <div class="featured">
      <p>All Products</p>
      <img src="assets/img/Decore.png" alt="">

      <div class="featured-row d-flex justify-content-center gap-5 flex-wrap">
        <!-- Card 1 -->
        <div class="featured-item d-flex flex-column align-items-center ">
          <img src="assets/img/arc.png" alt="" class="arc-img">
          <div class="card one"></div>
          <div class="badge">500</div>
          <h2>Product Name</h2>
          <div class="col">
            <button type="button" class="btn btn-outline">Add To Cart</button>
          </div>

        </div>
        <!-- Card 2 -->
        <div class="featured-item d-flex flex-column align-items-center">
          <img src="assets/img/arc.png" alt="" class="arc-img">
          <div class="card two"></div>
          <div class="badge">400</div>
          <h2>Product Name</h2>
          <div class="col">
            <button type="button" class="btn btn-outline">Add To Cart</button>
          </div>

        </div>

        <!-- Card 3 -->
        <div class="featured-item d-flex flex-column align-items-center">
          <img src="assets/img/arc.png" alt="" class="arc-img">
          <div class="card three"></div>
          <div class="badge">300</div>
          <h2>Product Name</h2>
          <div class="col">
            <button type="button" class="btn btn-outline">Add To Cart</button>
          </div>

        </div>
      </div>
    </div>

    <div class="featured">

      <div class="featured-row d-flex justify-content-center gap-5 flex-wrap">
        <!-- Card 1 -->
        <div class="featured-item d-flex flex-column align-items-center ">
          <img src="assets/img/arc.png" alt="" class="arc-img">
          <div class="card one"></div>
          <div class="badge">500</div>
          <h2>Product Name</h2>
          <div class="col">
            <button type="button" class="btn btn-outline">Add To Cart</button>
          </div>

        </div>
        <!-- Card 2 -->
        <div class="featured-item d-flex flex-column align-items-center">
          <img src="assets/img/arc.png" alt="" class="arc-img">
          <div class="card two"></div>
          <div class="badge">400</div>
          <h2>Product Name</h2>
          <div class="col">
            <button type="button" class="btn btn-outline">Add To Cart</button>
          </div>

        </div>

        <!-- Card 3 -->
        <div class="featured-item d-flex flex-column align-items-center">
          <img src="assets/img/arc.png" alt="" class="arc-img">
          <div class="card three"></div>
          <div class="badge">300</div>
          <h2>Product Name</h2>
          <div class="col">
            <button type="button" class="btn btn-outline">Add To Cart</button>
          </div>

        </div>
      </div>
    </div>
    </div>
