<footer class="footer">
  <div class="body">

    <!-- Logo -->
    <div class="footer-logo">
      <img src="assets/img/LOGO.png" alt="Premium Cuts">
    </div>

    <!-- Contact Info -->
    <div class="footer-contact">
      <h6>CONTACT US</h6>

      <p>
        <i class="fa-solid fa-phone"></i>
        +20 100 826 6161
      </p>

      <p>
        <i class="fa-solid fa-envelope"></i>
        mona.adel.bassiony@gmail.com
      </p>

      <div class="social-icons">
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-tiktok"></i>
        <i class="fa-brands fa-facebook-f"></i>
      </div>
    </div>

  </div>
</footer>
